{ns hl7-fhir-r4-core.value-set.age-units,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Unified Code for Units of Measure (UCUM). This value set includes all UCUM codes",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://unitsofmeasure.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/age-units",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
