{ns hl7-fhir-r4-core.value-set.allergy-intolerance-criticality,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Estimate of the potential clinical harm, or seriousness, of a reaction to an identified substance.",
  :zen.fhir/version "0.6.0",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/allergy-intolerance-criticality",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/allergy-intolerance-criticality",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}