{ns hl7-fhir-r4-core.value-set.allerg-intol-substance-exp-risk,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The risk of an adverse reaction (allergy or intolerance) for this patient upon exposure to the substance (including pharmaceutical products).",
            :zen.fhir/version "0.6.22-1",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/allerg-intol-substance-exp-risk",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/allerg-intol-substance-exp-risk",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
