{ns hl7-fhir-r4-core.value-set.care-plan-intent,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes indicating the degree of authority/intentionality associated with a care plan.",
            :zen.fhir/version "0.6.22-2",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/request-intent",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/care-plan-intent",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
