{ns hl7-fhir-r4-core.value-set.cdshooks-indicator,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set captures the set of indicator codes defined by the CDS Hooks specification.",
  :zen.fhir/version "0.5.24-1",
  :fhir/code-systems
  #{{:fhir/url "http://cds-hooks.hl7.org/CodeSystem/indicator",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/cdshooks-indicator",
  :version "4.0.1",
  :ftr
  {:module "ftr",
   :source-url "node_modules//hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "zen-packages//hl7-fhir-r4-core/",
   :tag "init"}}}