{ns hl7-fhir-r4-core.value-set.clinicalimpression-prognosis,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Example value set for clinical impression prognosis.",
  :zen.fhir/version "0.5.26-5",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri "http://hl7.org/fhir/ValueSet/clinicalimpression-prognosis",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-r4-core",
   :tag "init"}}}