{ns hl7-fhir-r4-core.value-set.contract-actorrole,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set includes sample Contract Actor Role codes.",
  :zen.fhir/version "0.5.26-4",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/contractactorrole",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/contract-actorrole",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-r4-core",
   :tag "init"}}}