{ns hl7-fhir-r4-core.value-set.coverage-type,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "This value set includes Coverage Type codes.",
  :zen.fhir/version "0.5.26-5",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActCode",
     :zen.fhir/content :bundled}
    {:fhir/url
     "http://terminology.hl7.org/CodeSystem/coverage-selfpay",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/coverage-type",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-r4-core",
   :tag "init"}}}