{ns hl7-fhir-r4-core.value-set.entformula-type,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "EnteralFormulaType : Codes for type of enteral formula to be administered to patient.  This value set is composed of SNOMED CT (US Extension) Concepts from SCTID 470581016 (Enteral+supplement feeds hierarchy (product)) and is provided as a suggestive example.",
  :zen.fhir/version "0.5.33-1",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/entformula-type",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}