{ns hl7-fhir-r4-core.value-set.example-intensional,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This is an example value set that includes all the LOINC codes for serum/plasma cholesterol from v2.36.",
  :zen.fhir/version "0.5.24-1",
  :fhir/code-systems
  #{{:fhir/url "http://loinc.org", :zen.fhir/content :not-present}
    {:fhir/url "http://loinc.org", :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/example-intensional",
  :version "4.0.1",
  :ftr
  {:module "ftr",
   :source-url "node_modules//hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "zen-packages//hl7-fhir-r4-core/",
   :tag "init"}}}