{ns hl7-fhir-r4-core.value-set.expression-language,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The media type of the expression language.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/expression-language",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/expression-language",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
