{ns hl7-fhir-r4-core.value-set.expression-language,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "The media type of the expression language.",
  :zen.fhir/version "0.5.30-1",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/expression-language",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/expression-language",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "ftr",
   :tag "init"}}}