{ns hl7-fhir-r4-core.value-set.flag-priority,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set is provided as an exemplar. The value set is driven by IHE Table B.8-4: Abnormal Flags, Alert Priority.",
  :zen.fhir/version "0.6.2",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/flag-priority-code",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/flag-priority",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}