{ns hl7-fhir-r4-core.value-set.gender-identity,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This example value set defines a set of codes that can be used to indicate a patient's gender identity.",
  :zen.fhir/version "0.5.24-1",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/gender-identity",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/gender-identity",
  :version "4.0.1",
  :ftr
  {:module "ftr",
   :source-url "node_modules//hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "zen-packages//hl7-fhir-r4-core/",
   :tag "init"}}}