{ns hl7-fhir-r4-core.value-set.instance-availability,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Availability of the resource.",
            :zen.fhir/version "0.6.8",
            :fhir/code-systems #{{:fhir/url "http://dicom.nema.org/resources/ontology/DCM",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/instance-availability",
            :version "4.0.1",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.r4.core"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
