{ns hl7-fhir-r4-core.value-set.location-status,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Indicates whether the location is still in use.",
  :zen.fhir/version "0.5.24-1",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/location-status",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/location-status",
  :version "4.0.1",
  :ftr
  {:module "ftr",
   :source-url "node_modules//hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "zen-packages//hl7-fhir-r4-core/",
   :tag "init"}}}