{ns hl7-fhir-r4-core.value-set.map-model-mode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "How the referenced structure is used in this mapping.",
            :zen.fhir/version "0.6.8",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/map-model-mode",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/map-model-mode",
            :version "4.0.1",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.r4.core"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
