{ns hl7-fhir-r4-core.value-set.match-grade,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A Master Patient Index (MPI) assessment of whether a candidate patient record is a match or not.",
            :zen.fhir/version "0.6.21-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/match-grade",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/match-grade",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
