{ns hl7-fhir-r4-core.value-set.med-admin-perform-function,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "MedicationAdministration Performer Function Codes",
            :zen.fhir/version "0.6.16-3",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/med-admin-perform-function",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/med-admin-perform-function",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
