{ns hl7-fhir-r4-core.value-set.messageheader-response-request,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "HL7-defined table of codes which identify conditions under which acknowledgments are required to be returned in response to a message.",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/messageheader-response-request",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/messageheader-response-request",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
