{ns hl7-fhir-r4-core.value-set.metric-color,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Describes the typical color of representation.",
  :zen.fhir/version "0.5.26-4",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/metric-color",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/metric-color",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.r4.core",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-r4-core",
   :tag "init"}}}