{ns hl7-fhir-r4-core.value-set.operation-parameter-use,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Whether an operation parameter is an input or an output parameter.",
            :zen.fhir/version "0.6.17-4",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/operation-parameter-use",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/operation-parameter-use",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
