{ns hl7-fhir-r4-core.value-set.program,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set defines an example set of codes that could be can be used to classify groupings of service-types/specialties.",
            :zen.fhir/version "0.6.15",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/program",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/program",
            :version "4.0.1",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.r4.core"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
