{ns hl7-fhir-r4-core.value-set.questionnaire-category,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Example list of potential categories for questionnaires.",
  :zen.fhir/version "0.6.0",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/questionnaire-category",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}