{ns hl7-fhir-r4-core.value-set.report-codes,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes LOINC codes that relate to Diagnostic Observations.",
            :zen.fhir/version "0.6.7-4",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/report-codes",
            :version "4.0.1",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.r4.core"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
