{ns hl7-fhir-r4-core.value-set.request-resource-types,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A list of all the request resource types defined in this version of the FHIR specification.",
            :zen.fhir/version "0.6.7-3",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/request-resource-types",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/request-resource-types",
            :version "4.0.1",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.r4.core"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
