{ns hl7-fhir-r4-core.value-set.resource-aggregation-mode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "How resource references can be aggregated.",
            :zen.fhir/version "0.6.18-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/resource-aggregation-mode",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/resource-aggregation-mode",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
