{ns hl7-fhir-r4-core.value-set.resource-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The master set of status codes used throughout FHIR. All status codes are mapped to one of these codes.",
            :zen.fhir/version "0.6.19",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/resource-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/resource-status",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
