{ns hl7-fhir-r4-core.value-set.response-code,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "The kind of response to a message.",
  :zen.fhir/version "0.6.6-7",
  :fhir/code-systems
  #{{:fhir/url "http://hl7.org/fhir/response-code",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/response-code",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}