{ns hl7-fhir-r4-core.value-set.service-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set defines an example set of codes of service-types.",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/service-type",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/service-type",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
