{ns hl7-fhir-r4-core.value-set.special-values,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "A set of generally useful codes defined so they can be included in value sets.",
  :zen.fhir/version "0.5.32-2",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/special-values",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/ValueSet/special-values",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}