{ns hl7-fhir-r4-core.value-set.substance-code,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set contains concept codes for specific substances. It includes codes from [SNOMED](http://snomed.info/sct) where concept is-a 105590001 (Substance (substance)) and where concept is-a 373873005 (Pharmaceutical / biologic product (product))",
  :zen.fhir/version "0.5.32-2",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri "http://hl7.org/fhir/ValueSet/substance-code",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}