{ns hl7-fhir-r4-core.value-set.task-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The current status of the task.",
            :zen.fhir/version "0.6.7-5",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/task-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/task-status",
            :version "4.0.1",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.r4.core"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
