{ns hl7-fhir-r4-core.value-set.timezones,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "IANA Timezone Codes",
  :zen.fhir/version "0.5.32-2",
  :fhir/code-systems
  #{{:fhir/url "https://www.iana.org/time-zones",
     :zen.fhir/content :not-present}},
  :uri "http://hl7.org/fhir/ValueSet/timezones",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}