{ns hl7-fhir-r4-core.value-set.udi-entry-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes to identify how UDI data was entered.",
            :zen.fhir/version "0.6.30",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/udi-entry-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/udi-entry-type",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
