{ns hl7-fhir-r4-core.value-set.units-of-time,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A unit of time (units from UCUM).",
            :zen.fhir/version "0.6.30-12",
            :fhir/code-systems #{{:fhir/url "http://unitsofmeasure.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/ValueSet/units-of-time",
            :version "4.0.1",
            :ftr {:module "hl7-fhir-r4-core",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
