{ns hl7-fhir-r4-core.value-set.verificationresult-validation-status,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Status of the validation of the target against the primary source",
  :zen.fhir/version "0.6.5",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/validation-status",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/ValueSet/verificationresult-validation-status",
  :version "4.0.1",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.r4.core"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}