{ns hl7-fhir-r4-core.search.ActivityDefinition-context-type-quantity,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "ActivityDefinition-context-type-quantity",
         :fhir/url "http://hl7.org/fhir/SearchParameter/ActivityDefinition-context-type-quantity",
         :fhir/type "composite",
         :name "context-type-quantity",
         :expr {:ActivityDefinition {:base-knife [["useContext"]],
                                     :base-jsonpath ["$.\"useContext\"[*]"],
                                     :component-knife [[["code"]]
                                                       [["value"
                                                         "Quantity"]
                                                        ["value"
                                                         "Range"]]],
                                     :component-jsonpath [["$.\"code\"[*]"]
                                                          ["$.\"value\".\"Quantity\"[*]"
                                                           "$.\"value\".\"Range\"[*]"]],
                                     :data-types #{{:type "CodeableConcept",
                                                    :polymorphic? false}},
                                     :search-types [:token :quantity],
                                     :template :composite}}}}
