{ns hl7-fhir-r4-core.search.Bundle-composition,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Bundle-composition",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Bundle-composition",
         :fhir/type "reference",
         :name "composition",
         :expr {:Bundle {:knife [["entry" 0 "resource"]],
                         :jsonpath ["$.\"entry\"[0].\"resource\"[*]"],
                         :data-types #{},
                         :template :reference}}}}
