{ns hl7-fhir-r4-core.search.Evidence-context-type-quantity,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Evidence-context-type-quantity",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Evidence-context-type-quantity",
         :fhir/type "composite",
         :name "context-type-quantity",
         :expr {:Evidence {:base-knife [["useContext"]],
                           :base-jsonpath ["$.\"useContext\"[*]"],
                           :component-knife [[["code"]]
                                             [["value" "Quantity"]
                                              ["value" "Range"]]],
                           :component-jsonpath [["$.\"code\"[*]"]
                                                ["$.\"value\".\"Quantity\"[*]"
                                                 "$.\"value\".\"Range\"[*]"]],
                           :data-types #{},
                           :search-types [:token :quantity],
                           :template :composite}}}}
