{ns hl7-fhir-r4-core.search.MolecularSequence-referenceseqid-variant-coordinate,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "MolecularSequence-referenceseqid-variant-coordinate",
         :fhir/url "http://hl7.org/fhir/SearchParameter/MolecularSequence-referenceseqid-variant-coordinate",
         :fhir/type "composite",
         :name "referenceseqid-variant-coordinate",
         :expr {:MolecularSequence {:base-knife [["variant"]],
                                    :base-jsonpath ["$.\"variant\"[*]"],
                                    :component-knife [[["referenceSeq"
                                                        "referenceSeqId"]]
                                                      [["start"]]
                                                      [["end"]]],
                                    :component-jsonpath [["$.\"referenceSeq\".\"referenceSeqId\"[*]"]
                                                         ["$.\"start\"[*]"]
                                                         ["$.\"end\"[*]"]],
                                    :data-types #{{:type "CodeableConcept",
                                                   :polymorphic? false}},
                                    :search-types [:token
                                                   :number
                                                   :number],
                                    :template :composite}}}}
