{ns hl7-fhir-r4-core.search.MolecularSequence-referenceseqid-variant-coordinate,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "MolecularSequence-referenceseqid-variant-coordinate",
         :fhir/url "http://hl7.org/fhir/SearchParameter/MolecularSequence-referenceseqid-variant-coordinate",
         :fhir/type "composite",
         :name "referenceseqid-variant-coordinate",
         :expr {:MolecularSequence {:base-knife [["variant"]],
                                    :base-jsonpath ["$.\"variant\"[*]"],
                                    :component-knife [nil
                                                      [["start"]]
                                                      [["end"]]],
                                    :component-jsonpath [[]
                                                         ["$.\"start\"[*]"]
                                                         ["$.\"end\"[*]"]],
                                    :data-types #{},
                                    :search-types [:token
                                                   :number
                                                   :number],
                                    :template :composite}}}}
