{ns hl7-fhir-r4-core.search.Questionnaire-context-type-value,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "Questionnaire-context-type-value",
         :fhir/url "http://hl7.org/fhir/SearchParameter/Questionnaire-context-type-value",
         :fhir/type "composite",
         :name "context-type-value",
         :expr {:Questionnaire {:base-knife [["useContext"]],
                                :base-jsonpath ["$.\"useContext\"[*]"],
                                :component-knife [[["code"]]
                                                  [["value"
                                                    "CodeableConcept"]]],
                                :component-jsonpath [["$.\"code\"[*]"]
                                                     ["$.\"value\".\"CodeableConcept\"[*]"]],
                                :data-types #{{:type "Coding",
                                               :polymorphic? false}},
                                :search-types [:token :token],
                                :template :composite}}}}
