{ns hl7-fhir-r4-core.bmi,
 import #{zen.fhir hl7-fhir-r4-core.vitalsigns},
 schema
 {:zen.fhir/version "0.6.6-7",
  :confirms #{zen.fhir/Resource hl7-fhir-r4-core.vitalsigns/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/bmi",
  :require #{:value},
  :type zen/map,
  :zen/desc "FHIR Body Mass Index (BMI) Profile",
  :keys
  {:code
   {:type zen/map,
    :keys
    {:coding
     {:type zen/vector,
      :slicing
      {:slices
       {"BMICode"
        {:schema
         {:type zen/vector,
          :minItems 1,
          :maxItems 1,
          :every
          {:type zen/map,
           :keys
           {:system {:const {:value "http://loinc.org"}},
            :code {:const {:value "39156-5"}}},
           :require #{:system :code}}},
         :filter
         {:engine :match,
          :match {:code "39156-5", :system "http://loinc.org"}}}}}}},
    :zen/desc "Body Mass Index (BMI)"},
   :value
   {:type zen/map,
    :keys
    {:Quantity
     {:type zen/map,
      :keys
      {:value #:fhir{:flags #{:MS}},
       :unit #:fhir{:flags #{:MS}},
       :system
       {:const {:value "http://unitsofmeasure.org"},
        :fhir/flags #{:MS}},
       :code
       {:const {:value "kg/m2"},
        :fhir/flags #{:MS},
        :zen/desc
        "Coded responses from the common UCUM units for vital signs value set."}},
      :require #{:system :unit :value :code}}},
    :require #{:Quantity}}},
  :zen.fhir/type "Observation"}}