{ns hl7-fhir-r4-core.cdshooksrequestgroup,
 import #{zen.fhir
          hl7-fhir-r4-core.cdshooksrequestgroup
          hl7-fhir-r4-core.RequestGroup},
 action-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                :zen.fhir/version "0.6.29-4",
                :type zen/map,
                :keys {:description {:fhir/flags #{:MS}},
                       :type {:fhir/flags #{:MS}},
                       :participant {:type zen/vector,
                                     :every {:fhir/flags #{:MS},
                                             :confirms #{zen.fhir/Reference},
                                             :zen.fhir/reference {:refers #{}}}},
                       :title {:fhir/flags #{:MS}},
                       :documentation {:type zen/vector,
                                       :every {:fhir/flags #{:MS}}},
                       :selectionBehavior {:fhir/flags #{:MS}},
                       :priority {:fhir/flags #{:MS}},
                       :condition {:type zen/vector,
                                   :every {:fhir/flags #{:MS}}},
                       :resource {:fhir/flags #{:MS},
                                  :confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{}}},
                       :timing {:fhir/polymorphic true,
                                :type zen/map,
                                :fhir/flags #{:MS}},
                       :action {:type zen/vector,
                                :every {:confirms #{hl7-fhir-r4-core.cdshooksrequestgroup/action-schema}}}}},
 schema {:zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r4-core.RequestGroup/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cdshooksrequestgroup",
         :require #{:instantiatesUri :identifier},
         :type zen/map,
         :zen/desc "Defines a RequestGroup that can represent a CDS Hooks response",
         :keys {:instantiatesUri {:type zen/vector,
                                  :minItems 1,
                                  :maxItems 1},
                :authoredOn {:fhir/flags #{:MS}},
                :author {:fhir/flags #{:MS},
                         :confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{}}},
                :priority {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :minItems 1,
                             :maxItems 1},
                :action {:type zen/vector,
                         :every {:confirms #{hl7-fhir-r4-core.cdshooksrequestgroup/action-schema}}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{}}}},
         :zen.fhir/type "RequestGroup"}}
