{ns hl7-fhir-r4-core.computableplandefinition,
 import #{zen.fhir hl7-fhir-r4-core.PlanDefinition},
 schema {:zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r4-core.PlanDefinition/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/computableplandefinition",
         :require #{:library},
         :type zen/map,
         :zen/desc "Defines a computable PlanDefinition that specifies a single library and requires all expressions referenced from the PlanDefinition to be definitions in that single library",
         :keys {:library {:type zen/vector, :minItems 1, :maxItems 1}},
         :zen.fhir/type "PlanDefinition"}}
