{ns hl7-fhir-r4-core.condition-related,
 import #{hl7-fhir-r4-core.Condition zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "This condition has an unspecified relationship with another condition.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/condition-related",
         :zen.fhir/version "0.6.42",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Condition/schema}}}}
