{ns hl7-fhir-r4-core.cqllibrary,
 import #{zen.fhir hl7-fhir-r4-core.Library},
 schema {:zen.fhir/version "0.6.31",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Library/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/cqllibrary",
         :require #{:type},
         :type zen/map,
         :zen/desc "Represents a CQL logic library",
         :keys {:type {:const {:value {:coding [{:system "http://terminology.hl7.org/CodeSystem/library-type",
                                                 :code "logic-library",
                                                 :display "Logic Library"}]}}},
                :parameter {:type zen/vector,
                            :every {:fhir/flags #{:MS}}},
                :dataRequirement {:type zen/vector,
                                  :every {:fhir/flags #{:MS}}}},
         :zen.fhir/type "Library"}}
