{ns hl7-fhir-r4-core.diagnosticReport-extends,
 import #{zen.fhir hl7-fhir-r4-core.DiagnosticReport},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The report references related (\"sibling\") reports.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/diagnosticReport-extends",
         :zen.fhir/version "0.6.30-11",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.DiagnosticReport/schema}}}}
