{ns hl7-fhir-r4-core.event-partOf,
 import #{zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A larger event of which this particular event is a component or step.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/event-partOf",
         :zen.fhir/version "0.6.30-14",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{}}}}
