{ns hl7-fhir-r4-core.example-section-library,
 import #{zen.fhir
          hl7-fhir-r4-core.Composition
          hl7-fhir-r4-core.example-section-library},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/type "Composition",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/example-section-library",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r4-core.Composition/schema},
         :type zen/map,
         :keys {:section {:type zen/vector,
                          :slicing {:slices {"procedure" {:schema {:type zen/vector,
                                                                   :every {:type zen/map,
                                                                           :keys {:title {:const {:value "Procedures Performed"}},
                                                                                  :code {:match {:coding #{{:system "http://loinc.org",
                                                                                                            :code "29554-3",
                                                                                                            :display "Procedure Narrative"}}}}},
                                                                           :require #{:title
                                                                                      :code}}},
                                                          :filter {:engine :match,
                                                                   :match {:code {:coding #{{:system "http://loinc.org",
                                                                                             :code "29554-3",
                                                                                             :display "Procedure Narrative"}}}}}},
                                             "medications" {:schema {:type zen/vector,
                                                                     :every {:type zen/map,
                                                                             :keys {:title {:const {:value "Medications Administered"}},
                                                                                    :code {:match {:coding #{{:system "http://loinc.org",
                                                                                                              :code "29549-3",
                                                                                                              :display "Medication administered Narrative"}}}}},
                                                                             :require #{:title
                                                                                        :code}}},
                                                            :filter {:engine :match,
                                                                     :match {:code {:coding #{{:system "http://loinc.org",
                                                                                               :code "29549-3",
                                                                                               :display "Medication administered Narrative"}}}}}},
                                             "plan" {:schema {:type zen/vector,
                                                              :every {:type zen/map,
                                                                      :keys {:title {:const {:value "Discharge Treatment Plan"}},
                                                                             :code {:match {:coding #{{:system "http://loinc.org",
                                                                                                       :code "18776-5",
                                                                                                       :display "Plan of treatment (narrative)"}}}}},
                                                                      :require #{:title
                                                                                 :code}}},
                                                     :filter {:engine :match,
                                                              :match {:code {:coding #{{:system "http://loinc.org",
                                                                                        :code "18776-5",
                                                                                        :display "Plan of treatment (narrative)"}}}}}}}},
                          :every {:confirms #{hl7-fhir-r4-core.example-section-library/section-schema}}}}},
 section-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                 :zen.fhir/version "0.6.29",
                 :type zen/map,
                 :keys {:section {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r4-core.example-section-library/section-schema}}}}}}
