{ns hl7-fhir-r4-core.flag-detail,
 import #{zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Points to the Observation, AllergyIntolerance or other record that provides additional supporting information about this flag.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/flag-detail",
         :zen.fhir/version "0.6.23-1",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{}}}}
