{ns hl7-fhir-r4-core.groupdefinition,
 import #{zen.fhir hl7-fhir-r4-core.Group},
 schema {:zen.fhir/version "0.6.17-2",
         :confirms #{zen.fhir/Resource hl7-fhir-r4-core.Group/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/groupdefinition",
         :require #{:actual},
         :type zen/map,
         :zen/desc "Enforces a descriptive group that can be used in definitional resources",
         :keys {:member {:type zen/vector, :maxItems 0}},
         :zen.fhir/type "Group"}}
