{ns hl7-fhir-r4-core.hdlcholesterol,
 import #{hl7-fhir-r4-core.Observation
          hl7-fhir-r4-core.SimpleQuantity
          zen.fhir},
 schema {:zen.fhir/version "0.6.7-3",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/hdlcholesterol",
         :require #{:referenceRange :code},
         :type zen/map,
         :zen/desc "HDL Cholesterol Result",
         :keys {:code {:const {:value {:coding [{:system "http://loinc.org",
                                                 :code "2085-9",
                                                 :display "HDL Cholesterol"}]}},
                       :fhir/flags #{:MS},
                       :zen/desc "HDL Cholesterol"},
                :value {:type zen/map,
                        :keys {:Quantity {:fhir/flags #{:MS},
                                          :zen/desc "HDL Cholesterol value"}}},
                :interpretation {:type zen/vector,
                                 :every {:fhir/flags #{:MS},
                                         :zen/desc "+ | ++ | +++ | - | -- | ---"},
                                 :maxItems 1},
                :note {:type zen/vector,
                       :every {:fhir/flags #{:MS},
                               :zen/desc "Comments about result"}},
                :referenceRange {:type zen/vector,
                                 :every {:type zen/map,
                                         :keys {:low {:const {:value {:value 1.5}},
                                                      :confirms #{hl7-fhir-r4-core.SimpleQuantity/schema}},
                                                :appliesTo {:type zen/vector,
                                                            :maxItems 0}},
                                         :require #{:low},
                                         :fhir/flags #{:MS}},
                                 :minItems 1,
                                 :maxItems 1},
                :hasMember {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{}}},
                            :maxItems 0},
                :derivedFrom {:type zen/vector,
                              :every {:confirms #{zen.fhir/Reference},
                                      :zen.fhir/reference {:refers #{}}},
                              :maxItems 0}},
         :zen.fhir/type "Observation"}}
