{ns hl7-fhir-r4-core.openEHR-test,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-r4-core.DiagnosticReport},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Observations that confirm or refute the risk and/or the substance.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/openEHR-test",
         :zen.fhir/version "0.6.30-10",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Observation/schema
                                        hl7-fhir-r4-core.DiagnosticReport/schema}}}}
