{ns hl7-fhir-r4-core.operationoutcome-detectedIssue,
 import #{hl7-fhir-r4-core.DetectedIssue zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A reference to a stored contraindication that is the basis for this issue. A recipient can expect that the item referenced in this extension is being retained for record keeping purposes.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/operationoutcome-detectedIssue",
         :zen.fhir/version "0.6.7-2",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.DetectedIssue/schema}}}}
