{ns hl7-fhir-r4-core.questionnaire-unitValueSet,
 import #{hl7-fhir-r4-core.canonical zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "A set of units that the user may choose when providing a quantity value.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/questionnaire-unitValueSet",
         :zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.canonical/schema}}}
