{ns hl7-fhir-r4-core.shareablecodesystem,
 import #{hl7-fhir-r4-core.shareablecodesystem
          zen.fhir
          hl7-fhir-r4-core.CodeSystem},
 concept-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                 :zen.fhir/version "0.16.13-2",
                 :type zen/map,
                 :keys {:concept {:type zen/vector,
                                  :every {:confirms #{hl7-fhir-r4-core.shareablecodesystem/concept-schema}}}},
                 :require #{:code}},
 schema {:zen.fhir/version "0.16.13-2",
         :confirms #{hl7-fhir-r4-core.CodeSystem/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/shareablecodesystem",
         :require #{:description
                    :publisher
                    :name
                    :experimental
                    :status
                    :url
                    :concept
                    :version},
         :type zen/map,
         :zen/desc "Enforces the minimum information set for the value set metadata required by HL7 and other organizations that share and publish value sets",
         :keys {:concept {:type zen/vector,
                          :every {:confirms #{hl7-fhir-r4-core.shareablecodesystem/concept-schema}},
                          :minItems 1}},
         :zen.fhir/type "CodeSystem"}}
