{ns hl7-fhir-r4-core.specimen-collectionPriority,
 import
 #{zen.fhir
   hl7-fhir-r4-core.value-set.specimen-collection-priority
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "The urgency of sample collection, such as STAT, ASAP, ASAP-ED, ROUTINE, ROUTINE-AM, etc….",
  :zen.fhir/type "CodeableConcept",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/StructureDefinition/specimen-collectionPriority",
  :zen.fhir/version "0.5.21-10",
  :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
  :zen.fhir/value-set
  {:symbol
   hl7-fhir-r4-core.value-set.specimen-collection-priority/value-set,
   :strength :example}}}