{ns hl7-fhir-r4-core.structuredefinition-fmm-no-warnings,
 import #{hl7-fhir-r4-core.integer zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The FMM level that would be assigned to the artifact if it had no warnings.",
         :zen.fhir/type "integer",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm-no-warnings",
         :zen.fhir/version "0.6.30-1",
         :confirms #{hl7-fhir-r4-core.integer/schema}}}
