{ns hl7-fhir-r4-core.workflow-episodeOfCare,
 import #{zen.fhir hl7-fhir-r4-core.EpisodeOfCare},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The episode(s) of care that establishes the context for this {{title}}.",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org/fhir/StructureDefinition/workflow-episodeOfCare",
         :zen.fhir/version "0.6.28",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.EpisodeOfCare/schema}}}}
